.footer {
  background: #ED9EA5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  padding: 0px 647px;
  color: rgba(0,0,0,0.3);
}

.footer .fa-heart {
  color: #D23333;
}
