.show-img {
  width: 100%;
  border-radius: 0% 50% 50% 0%;;
}

h1 {
  font-family: "Tilt Warp";
  font-size: 60px;
  color: $framboise;
  margin: 20px 5px;
  text-align: center;
}

.div-text-section {
  width: 65%;
  padding: 10px;
  text-align: justify;
}

.div-text-section p {
  margin: 20px 0px
}
