<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="row mx-0 container-fluid">
    <div class="col-4">
      <a class="navbar-brand" href="#">
        <img src="https://www.coolgenerator.com/Data/Textdesign/202303/f02673e7ad00b848be40fe1e061e96ab.png" width: 150px/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-4">
      <%# <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required mx-auto" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-ghost">
            <i class="fas fa-search"></i> Find your drag queen
          </button> %>
          <div class="d-flex search-button">
            <i class="fas fa-search"></i>
            <p>Find your drag queen</p>
          </div>
        <%# </div>
      </form> %>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Post your Drag profile</a>
            </li>
            <li class="nav-item">
              <%# <a class="nav-link" href="#">Messages</a> %>
            </li>
            <li class="nav-item dropdown">
              <a class="btn btn-flat ms-4" href="#">Login</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>
</div>
