.banner {
  background-size: cover;
  background-position: center;
}

.banner-components {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em;
}

.info h1 {
  margin-bottom: 1em;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: "Tilt Warp";
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-img {
  height: 50%;
  width: auto;
  object-fit: cover;
}

.info {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.info .button {
  width: 50%;
  margin-top: 10px;
}
