.drag-booking-card {
  background-color: $powder-pink;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.drag-booking-card h5 {
  font-family: "Maven Pro";
}

.booking-logo {
  width:100px;
  text-align: center;
}

.booking-logo i {
  background-color: $barbie-pink;
  color: white;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.65em 0.6em;
  font-size: 2.5em;
}

.booking-photo {
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  width:100px;
  height:100px;
  object-fit: cover;
}

.booking-info {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 0.7;
}

.booking-info i {
  margin-right: 10px;
  color: $barbie-pink;
}

.booking-info p {
  margin: 0px
}

.booking-details {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 0.85rem;
}
.booking-details p {
  margin: 0px
}

.booking-actions i {
  text-decoration: none;
  color: $framboise;
  text-align: center;
}
