.button {
  display: flex;
  justify-content: center;
  background:linear-gradient(180deg, #FF9A9E, #fecfef);
  color: #fff;
  border:none;
  border-radius:40px;
  padding:15px;
  text-decoration: none;
  font-family: "Tilt Warp"
}

.button:hover{
  color: #fff;
}

.button-round {
  display: flex;
  justify-content: center;
  background-color:#89023E;
  color: #fff;
  border:none;
  border-radius:50%;
  padding:15px;
  text-decoration: none;
}
