.button {
  display: flex;
  justify-content: center;
  background:linear-gradient(180deg, #FF90B3, #89023E);
  color: #fff;
  border:none;
  border-radius:40px;
  padding:15px;
  text-decoration: none;
  font-family: "Tilt Warp"
}

.button:hover{
  color: #fff;
}
