.form {
  margin: 2em;
  padding: 5em;
  background-color: #FAEDF4;
  border-radius: 2em;
}

.new-booking-form {
  margin: 0;
  padding-top: 1em;
  background-color: #FAEDF4;
  border-radius: 2em;
}

#form-title {
  font-size: 2em;
}
