.specialty-tag {
  color: $white;
  font-family: "Maven Pro";
  background-color: $barbie-pink;
  border-radius: 20px;
  padding: 0px 10px;
  width: auto;
  text-align: center;
  font-size: 14px;
  margin: 5px
}

.specialty-tag em {
  font-style: italic;
  font-size: 12px
}

#long-tag{

}
