.specialty-tag {
  color: $white;
  font-family: "Maven Pro";
  background-color: $barbie-pink;
  border-radius: 12px;
  padding: 0px 10px;
  width: auto;
  text-align: center;
  font-size: 17px;
  margin: 5px
}

.specialty-tag em {
  font-style: italic;
  font-size: 14px
}

.specialty-tag-index {
  color: $white;
  font-family: "Maven Pro";
  background-color: $barbie-pink;
  border-radius: 12px;
  padding: 0px 10px;
  width: auto;
  text-align: center;
  font-size: 17px;
  margin: 5px;
  position: absolute;
  top: -56px;
  right: -31px;
}
