<div class="banner">
  <div class="banner-components">
    <div class="container">
      <h1>Find the best drag queens for your private events</h1>
      <a class="btn btn-primary" href="#">Discover</a>
    </div>
    <div class="container">
      <%= image_tag "03.23_RPDR7603-removebg-preview.png"%>
    </div>
  </div>
</div>
