<div class="banner">
  <div class="banner-components container">
    <div class="info">
      <h1>Find the best drag queens for your private events</h1>
      <%= link_to 'DISCOVER', drags_path, class: "button"%>
    </div>
    <div class="banner-img">
      <%= image_tag "03.23_RPDR7603-removebg-preview.png"%>
    </div>
  </div>
</div>
