<div class="container">
  <div class="cards">
    <div class="card" style="width: 25rem;">
      <%= image_tag "dn3LsLUG_400x400.jpeg", :class => "card-img"%>
      <div class="card-body">
        <div class="card-body-top">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-price">100€/hour</h5>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="button">
          <a href="#">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <%= image_tag "62a993f745ad1_03-23-rpdr7098.jpeg", :class => "card-img"%>
      <div class="card-body">
        <div class="card-body-top">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-price">100€/hour</h5>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="button">
          <a href="#">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 25rem;">
      <%= image_tag "RuPaul_by_David_Shankbone_cropped.jpeg", :class => "card-img"%>
      <div class="card-body">
        <div class="card-body-top">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-price">100€/hour</h5>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="button">
          <a href="#">Go somewhere</a>
        </div>
      </div>

  </div>
</div>
